# Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import os

In [3]:
print(os.listdir())

['.ipynb_checkpoints', 'ShortenedDelayFlight.csv', 'ShortenedDelayFlight.xlsx', 'Untitled.ipynb', 'WhatsApp Image 2023-01-25 at 8.31.51 PM.jpeg', 'WhatsApp Image 2023-01-27 at 10.10.43 PM.jpeg']

# Reading the CSV file

In [4]:
df = pd.read_csv(r"C:\Users\siddiq\Downloads\New folder\ShortenedDelayFlight.csv")
df

,Unnamed: 0,ID,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,0,2008,1,3,4,1829,1755,1959,1925,...,3,10,0,N,0,2,0,0,0,32
1,1,1,2008,1,3,4,1937,1830,2037,1940,...,3,7,0,N,0,10,0,0,0,47
2,2,2,2008,1,3,4,1644,1510,1845,1725,...,6,8,0,N,0,8,0,0,0,72
3,3,3,2008,1,3,4,1452,1425,1640,1625,...,7,8,0,N,0,3,0,0,0,12
4,4,4,2008,1,3,4,1323,1255,1526,1510,...,4,9,0,N,0,0,0,0,0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685729,685729,685729,2008,6,13,5,1609,1535,1942,1915,...,7,15,0,N,0,27,0,0,0,0
685730,685730,685730,2008,6,14,6,1616,1535,1954,1915,...,11,11,0,N,0,11,0,0,0,28
685731,685731,685731,2008,6,17,2,1617,1535,2002,1915,...,7,17,0,N,0,0,22,5,0,20
685732,685732,685732,2008,6,22,7,1607,1535,1941,1915,...,5,12,0,N,0,1,0,0,0,25
685733,685733,685733,2008,6,23,1,1608,1535,1933,1915,...,6,10,0,N,0,18,0,0,0,0

# Looking for null values

In [5]:
df.isnull().sum()

Unnamed: 0           0
ID                   0
Year                 0
Month                0
DayofMonth           0
DayOfWeek            0
DepTime              0
CRSDepTime           0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
FlightNum            0
TailNum              2
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Dest                 0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
CancellationCode     0
Diverted             0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
dtype: int64

# Replacing zero values with null values

In [6]:
df['DepDelay'].replace(0, np.nan, inplace=True)

# Rechecking the null values

In [ ]:
df['DepDelay'].isnull().sum()

# formula for calculating the departure delay

In [ ]:
formula= df.ArrDelay + abs(df.ActualElapsedTime-df.CRSElapsedTime)

# filling up the null values with the formulated values

In [14]:
df.DepDelay.fillna((formula), inplace=True)

# No more Null values

In [ ]:
df['DepDelay'].isnull().sum()